#ignore all files in the output folder
output/
#ignore all files in the .env file
.env
#ignore all files in the venv folder
venv/
#ignore app-generator-cli.egg-info folder
app-generator-cli.egg-info/
app_generator_cli.egg-info/
build/
#ignore all files in the .gitignore file
.gitignore

#ignore all node_modules in the selected frontend folder
selectedProjects/
__pycache__/
test_output/
src/templates/public/
