#ignore all files in the output folder
output/
#ignore all files in the .env file
.env
#ignore all files in the venv folder
venv/
#ignore app-generator-cli.egg-info folder
app-generator-cli.egg-info/
#ignore all files in the .gitignore file
.gitignore

#ignore all node_modules in the selected frontend folder
selectedProjects/20241220_224636/frontend/node_modules/
selectedProjects/20241220_224636/frontend/.env
selectedProjects/20241220_224636/frontend/package-lock.json
selectedProjects/20241219_001418/frontend/node_modules/
selectedProjects/20241219_001418/frontend/.env
selectedProjects/20241219_001418/frontend/package-lock.json
