import React from "react";
import { 
    List, 
    Datagrid, 
    TextField, 
    NumberField,
    DateField,
    EditButton, 
    DeleteButton 
} from "react-admin";

const {{ resource.name.replace(' ', '') }}List = () => (
    <List>
        <Datagrid>
            {% for field in resource.list_fields %}
                {% if field.type == "number" %}
                    <NumberField source="{{ field.field }}" />
                {% elif field.type == "date" %}
                    <DateField source="{{ field.field }}" />
                {% elif field.type == "select" %}
                    <TextField source="{{ field.field }}" />
                {% else %}
                    <TextField source="{{ field.field }}" />
                {% endif %}
            {% endfor %}
            
            {% for action in resource.list_actions %}
                {% if action.action == "edit" %}
                    <EditButton />
                {% elif action.action == "delete" %}
                    <DeleteButton 
                        confirmTitle="Delete Confirmation"
                        confirmContent="Are you sure you want to delete this record?"
                    />
                {% endif %}
            {% endfor %}
        </Datagrid>
    </List>
);

export default {{ resource.name.replace(' ', '') }}List;