import React from "react";
import { Edit, SimpleForm, TextInput, SelectInput, useGetList } from "react-admin";

const {{ resource.name.replace(' ', '') }}Edit = () => {
  {% for field in resource.edit_fields %}
  {% if field.type == "select" and field.options[0].select_type == "dynamic" %}
  const { data: {{ field.field }}Options } = useGetList("{{ field.options[0].provider }}", {
    pagination: { page: 1, perPage: 100 },
  });
  {% endif %}
  {% endfor %}

  return (
    <Edit>
      <SimpleForm>
        {% for field in resource.edit_fields %}
        {% if field.type == "select" %}
        <SelectInput 
          source="{{ field.field }}"
          {% if field.options[0].select_type == "dynamic" %}
          choices={{{ field.field }}Options?.map(record => ({
            id: record.{{ field.options[0].value_field }},
            name: record.{{ field.options[0].label_field }},
            value: record.{{ field.options[0].value_field }}
          })) || []}
          {% else %}
          choices={{{ field.options[0].select_options | tojson }}}
          {% endif %}
          optionText="name"
          optionValue="value"
        />
        {% else %}
        <TextInput source="{{ field.field }}" type="{{ field.type }}" />
        {% endif %}
        {% endfor %}
      </SimpleForm>
    </Edit>
  );
};

export default {{ resource.name.replace(' ', '') }}Edit;