import React from "react";
import { Create, SimpleForm, TextInput, SelectInput, useGetList } from "react-admin";

const {{ resource.name.replace(' ', '') }}Create = () => {
  {% for field in resource.create_fields %}
  {% if field.type == "select" and field.select_type == "dynamic" %}
  const { data: {{ field.field }}Options } = useGetList("{{ field.provider }}", {
    pagination: { page: 1, perPage: 100 },
  });
  {% endif %}
  {% endfor %}

  return (
    <Create>
      <SimpleForm>
        {% for field in resource.create_fields %}
        {% if field.type == "select" %}
        <SelectInput 
          source="{{ field.field }}" 
          {% if field.select_type == "dynamic" %}
          choices={% raw %}{{% endraw %}{{ field.field }}Options?.map(record => ({
            id: record.{{ field.value_field }},
            name: record.{{ field.label_field }}
          })) || []}{% raw %}}{% endraw %}
          {% else %}
          choices={% raw %}{{% endraw %}{{ field.select_options | tojson }}{% raw %}}{% endraw %}
          {% endif %}
        />
        {% else %}
        <TextInput source="{{ field.field }}" type="{{ field.type }}" />
        {% endif %}
        {% endfor %}
      </SimpleForm>
    </Create>
  );
};

export default {{ resource.name.replace(' ', '') }}Create;